
@{
    ViewBag.Title = "Department";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Tilte {
    <div class="col-xs-12" id="current_menu" data-level_1="@Html.Raw(Library.Resource.MML_Standard)" data-level_2="@Html.Raw(Library.Resource.MML_General)" data-level_3="@Html.Raw(Library.Resource.MML_Department)"></div>
}

@* Department Grid *@
<div class="container-fluid center">
    <div class="box-body my-2 bg-white center">
        <div class="row">

            <div class="col-md-4 p-2 divPermission Permission_createDepartment">
                @* Create Department *@
                <button type="button" class="btn btn-success button-sm Permission_createDepartment" data-toggle="modal" data-target="#createModal"><i class="fa fa-plus"></i>&nbsp;@Html.Raw(Library.Resource.Btn_Create)</button>

                @* Modify Department *@
                <button type="button" id="modifyBtn" class="btn btn-warning button-sm Permission_modifyDepartment" data-target="#modifyModal"><i class="fa fa-edit"></i>&nbsp;@Html.Raw(Library.Resource.Btn_Modify)</button>

                @* Delete Department *@
                <button type="button" id="deleteBtn" class="btn btn-danger button-sm Permission_deleteDepartment" data-target="#confirmToDeleteModal"><i class="fa fa-trash"></i>&nbsp;@Html.Raw(Library.Resource.Btn_Delete)</button>

            </div>

            <div class="col-md-2 p-2">
                <label class="check-box">
                    Show deleted data
                    <input type="checkbox" id="showDeleted">
                    <span class="checkmark"></span>
                </label>
            </div>

            @* Search field *@
            <div class="col-md-6 p-2 input-group">
                <input type="text" class="form-control" placeholder="" id="searchInput">
                <div class="input-group-append">
                    <button class="btn btn-secondary iBtnSearch" id="searchBtn">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>

        @* Grid *@
        <div class="row">
            <table id="departmentGrid"></table>
        </div>
    </div>
</div>

@* Create Department *@
@Html.Partial("~/Views/Standard/General/Department/CreateDepartment/CreateDepartmentModal.cshtml")
@Html.Partial("~/Views/Standard/General/Department/CreateDepartment/ConfirmCreateDepartmentModal.cshtml")

@* Modify Department *@
@Html.Partial("~/Views/Standard/General/Department/ModifyDepartment/ModifyDepartmentModal.cshtml")
@Html.Partial("~/Views/Standard/General/Department/ModifyDepartment/ConfirmModifyDepartmentModal.cshtml")

@* Delete Department  *@
@Html.Partial("~/Views/Standard/General/Department/DeleteDepartment/ConfirmDeleteDepartmentModal.cshtml")

@section scripts{

    <script src="~/Scripts/Standard/General/Department/Department.js"></script>
    <script src="~/Scripts/Standard/General/Department/CreateDepartment/CreateDepartment.js"></script>
    <script src="~/Scripts/Standard/General/Department/ModifyDepartment/ModifyDepartment.js"></script>
    <script src="~/Scripts/Standard/General/Department/DeleteDepartment/DeleteDepartment.js"></script>
    <script>
        // Code to run since DOM is loaded and ready
        document.addEventListener("DOMContentLoaded", function (event)
        {

            //const notifications = $.connection.cusHub;

            //notifications.client.ShowStatus = () => {
            //    loadingCurrentValue();
            //};
            ////$.connection.hub.start();
            //$.connection.hub.start().done(() => {
            //    loadingCurrentValue();
            //});

            //function loadingCurrentValue() {
            //    $.ajax({
            //        url: "/Department/TestSignalR",
            //    }).done((response) => {
            //        alert(response.flag);
            //    });
            //}

            Initialize();

            @* Search Department *@
            searchBtn.addEventListener(`click`, ReloadDepartmentGrid);

            @* Create Department *@
            btnConfirmToCreate.addEventListener(`click`, CreateDepartment)

            @* Modify Department *@
            modifyBtn.addEventListener(`click`, OpenModifyModal);
            btnConfirmToModify.addEventListener(`click`, ModifyDepartment);

            @* Delete Department *@
            deleteBtn.addEventListener(`click`, OpenDeleteModal);
            btnConfirmToDelete.addEventListener(`click`, DeleteDepartment);
        });
    </script>
}